<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1 style="text-align:center">List Of Menu</h1>

<p style="font-family:verdana;">Team List: <a href="{% url 'team_list' %}" style="color:blue;">Team List</a></p>

<p style="font-family:verdana;">Matches: <a href="{% url 'matches' %}" style="color:blue;">Matches</a></p>

<p style="font-family:verdana;">Points_Table: <a href="{% url 'points' %}" style="color:blue;">Points_Table</a></p>

</body>
</html>